<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tripple</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/Home/block_one.css">
    <link rel="shortcut icon" href="/static/navbar-brand.png" type="image/x-icon">
</head>
<body>
    {% include "Home/includes/navbar.html" %}
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <img src="/static/headwraper1.png" class="img-fluid" id="headerwrap1">
                    <h1>Vezon Kardas</h1>
                    <p id="rectangle"></p>
                    <p id="circle"></p>
                    <h2>Web Developer - Full Stack developer</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid w">
        <div id="containerW">
            <h2 >About me</h2>
            <h3>Привет, меня зовут Алексей!</h3>
            <a class="Portfolio" href="/Portfolio"><h4>Мне 20 лет. Я студент 3-го курса технического университета. Занимаюсь самостоятельным изучением программирования.</h4>
            <h4>Интересуюсь разработкой WEB-сайтов и WEB-приложений, а также Machine Learning.</h4>
            <h4>Особенно увлекает Backend-разработка и все что связано с обработкой данных и алгоритмами.</h4>
            <h4>Для меня программирование - это творчество, в котором я могу создавать полезные для общества идеи.</h4></a>
        </div>
    </div>

    <div class="container-fluid x">
        <div class="containerX">
            <h2>Коротко о компетенциях</h2>
        </div>
    </div>
</body>
</html>