#headerwrap{
    background: #109338;
    min-height: 430px;
    margin-top: 0px;
    padding-top: 65px;
    text-align: center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#headerwrap h1{
    color: white;
    text-transform: uppercase;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 50px;

    padding-top: 17px;
}
#headerwrap h2{
    font-family: Helvetica;
    padding-top: 4%;
    color: white;
    font-size: 24px;
}
#headerwrap1{
    padding-top: 0.7%;
    width: 18%;
    height: 18%;
}
#rectangle {
    position: absolute;
    margin-left: 35.5%;
    margin-right: 35.5%;
    margin-top: 7px;
    width: 200px;
	height: 7px;
	background: white;
}
#circle {
    position: absolute;
    margin-left: 47.5%;
    margin-right: 47.7%;
    margin-top: 2.5px;
	width: 15px;
	height: 15px;
	background: white;

	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.w {
    min-height: 370px;
    font-family: Helvetica;
}
.w h2{
    padding-top: 1%;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
}
.w h3{
    padding-top: 2%;
    text-align: center;
    font-size: 27px;
    padding-bottom: 2%;
}
.w h4{
    color: #000;
    text-align: center;
}

.w a.Portfolio:active, a.Portfolio:hover, a{
    text-decoration: none;
}


.x{
    width: 100%;
    min-height: 725px;
    background: #333333;
}
.x h2 {
    padding-top: 1%;
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: bolder;
    text-transform: uppercase;
}
.x h4{
    padding-top: 6%;
    text-align: center;
    font-size: 28px;
    color: white;
}
.row{
    padding-top: 3.5%;
}
.rectangle_block1 {
    width: 300px;!important;
    height: 400px;
}
.rectangle_block2 {
    width: 300px;
    height: 400px;
}
.rectangle_block3 {
    width: 300px;
    height: 400px;
}
.blocks{
    width: 250px;
    height: 400px;
}
.Python_block{
    background: #006699;
}
.Java_block{
    background: #109338;
}
.Html{
    background: #FF9945;
}
#L_img{
    padding-top: 5%;
    display:block;
	margin:auto;
    width: 50%;
    height: auto;
}
.col{
    padding-left: 100px;!important;
}